.react-pdf__Page__textContent {display: none;}
/*     display: flex; */

.pdf-container{
    display: box;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;
    width: fit-content;
    margin-top: 30px;
    padding-bottom: 30px;
    height: 50%;
    gap: 20px 5px;
}

.react-pdf__Page__annotations{
    display: none;
}

.navigation-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    gap: 20px 5px;
}

.download-container{
    flex: 0 1 auto;
}

.page-number-container{
    flex: 1 1 auto;
}