.socials-menu {
    width: 165px;
    height: 282px;
    background: black;
    background: rgb(195, 195, 195);
    overflow: hidden;
    border-top: solid rgb(250, 250, 250) 2px;
    border-left: solid rgb(250, 250, 250) 2px;
    border-right: solid rgb(90, 90, 90) 1.5px;
    border-bottom: solid rgb(90, 90, 90) 1.5px;
    box-shadow: 1.5px 1.5px black;
    max-height: 100%;
    max-width: 100%;
    align-items: flex-end;
    outline: rgb(222, 222, 222) 1px solid;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 12px;
    position: absolute;
    bottom: 37px;
    left: 0;
    z-index: 100;
}
.socials-menu-hidden {
    display: none;
}

a {
    color: black;
    text-decoration: none;
    z-index: 100;
}

.sidebar-menu {
    width: 25px;
    background: rgb(123, 125, 123);
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex: 1 1 auto;
}

.sidebar-img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .sidebar-menu {
        width: 25px;
        background: rgb(123, 125, 123);
        height: 100%;
        display: flex;
        align-items: flex-end;
    }
}

.divider {
    width: 100%;
    height: 1px;
    background: rgb(123, 125, 123);
    border-bottom: white solid 1px;
}

.socials {
    flex: 1 1 auto;
    flex-grow: 1;
}

.social-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 6px;
}

.socials-menu-item {
    display: flex;
    flex-direction: row;
    padding: 5px 10px 5px 10px;
    align-items: center;
}

.socials-menu-item:hover {
    background: rgb(0, 0, 118);
    color: white;
}
